@model IEnumerable<Kwt.PatientsMgtApp.Core.Models.PaymentModel>

@{
    ViewBag.Title = "List";
}

<h2>Payments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.Any()) { 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            Payment Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientCID)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.CompanionCID)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.BeneficiaryCID)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PaymentStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentEndDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.TotalDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Id.ToString(), "Details", new { paymentId = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientCID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CompanionCID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BeneficiaryCID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PaymentStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentEndDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TotalDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>

        <td>
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
}
else {
    <div class="alert-info">
        No Payments to show in our records!
    </div>
}