@using Kwt.PatientsMgtApp.Core.Models
@model PatientModel
@{
    ViewBag.Title = "Patient Books";
}
@{
    List<string> patientList = ViewBag.Patients != null ? (List<string>)ViewBag.Patients : new List<string>();
}

@* Uncomment the next lines once the invoice is complete *@
<div class="row">
    @using (Html.BeginForm("AddPatientBooks", "Patient", FormMethod.Get))
    {
        @Html.TextBox("patientCid", null, new { placeholder = "Enter Patient CID", id = "patientCid", @class = "k-textbox" })
        <button type="submit" class="k-button"><i class="fa fa-search" style="color: greenyellow"></i> Search</button>
    }

</div>
@* comment the next line after you uncoment the previous code *@
@*<div class="alert-info">Under Construction!</div>*@

@if (Model != null)
{
    <fieldset>
        <legend>Patient Information</legend>
        <ul class="fieldlist form-row">
            <li class="col-md-3">
                @Html.LabelFor(model => model.Name, new { @class = "" })
                @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox edit", style = "width: 100%;", @readonly = "readonly" })
            </li>
            <li class="col-md-2">
                @Html.LabelFor(model => model.PatientCID, new { @class = "" })
                @Html.TextBoxFor(model => model.PatientCID, new { @class = "k-textbox edit", style = "width: 100%;", @readonly = "readonly" })
            </li>
            <li class="col-md-2">
                @Html.LabelFor(model => model.Agency, new { @class = "" })
                @Html.TextBoxFor(model => model.Agency, new { @class = "k-textbox edit", style = "width: 100%;", @readonly = "readonly" })
            </li>
            <li class="col-md-5">
                @Html.LabelFor(model => model.Hospital, new { @class = "" })
                @Html.TextBoxFor(model => model.Hospital, new { @class = "k-textbox edit", style = "width: 100%;", @readonly = "readonly" })
            </li>

        </ul>
        <ul class="fieldlist form-row">
            <li class="col-md-3">
                @Html.LabelFor(model => model.Doctor, new { @class = "" })
                @Html.TextBoxFor(model => model.Doctor, new { @class = "k-textbox edit", style = "width: 100%;", @readonly = "readonly" })
            </li>
            <li class="col-md-2">
                @Html.LabelFor(model => model.FirstApptDAteFormatted, new { @class = "" })
                @Html.TextBoxFor(model => model.FirstApptDAteFormatted, new { @class = "k-textbox edit", style = "width: 100%;", @readonly = "readonly" })
            </li>
            <li class="col-md-2">
                @Html.LabelFor(model => model.USPhone, new { @class = "" })
                @Html.TextBoxFor(model => model.USPhone, new { @class = "k-textbox edit", style = "width: 100%;", @readonly = "readonly" })
            </li>
            <li class="col-md-5">
                @Html.LabelFor(model => model.Notes, new { @class = "" })
                @Html.TextAreaFor(model => model.Notes, new { @class = "k-textbox edit", style = "width: 100%;", @readonly = "readonly" })
            </li>

        </ul>
    </fieldset>
    <div id="bookTypes">
        <div class="form-row form-group">
            <div class="col-md-4">

                @Html.DropDownListFor(model => model.BookType, new List<SelectListItem>
            (Model.BookTypes.Select(a => new SelectListItem()
            {
                Text = a.BookType.ToString(),
                Value = a.BookTypeID.ToString()

            }).ToList()), "--Select Book Type To Create--")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="k-button pull-right" id="printBook" style="display:none;"><i class="fa fa-print" style="color: blueviolet"></i> Print</button>
        </div>
    </div>
    <div id="selectedBookType" class="row">

        <div id="jobLetter" style="margin:30px; display:none;">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <img src="~/Content/Images/Kuwait_embassyLogo.png" style="width: 120px" />
                </div>
                <div class="col-md-12">
                    <h3 style="text-transform: uppercase; text-align: center;">Embassy Of The State of Kuwait Health Division</h3>

                    <div class="p-3 m-3 pull-left" style="width: 100%">
                    </div>

                    <div style="text-align: left; width: 100%">
                        <div style="font-weight: bold; font-size: 20pt;">@DateTime.Now.ToShortDateString()</div>
                        <div style="clear: both;"></div>
                        <div style="font-weight: bold; font-size: 20pt; width: 100%;">
                            <p style="text-align: right; margin-bottom: 0; float: right; width: 50%;">السيد مدير ادارة العلاج بالخارج </p>
                            <p style="text-align: center; margin-bottom: 0; width: 50%;">المحترم</p>
                        </div>
                        <div style="font-size: 20pt;  width: 100%;">
                            <p style="text-align: right; margin-bottom: 0;float: right; width: 50%;">تحية طيبة وبعد ...</p>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="p-5 m-3" style="text-decoration: underline; font-weight: bold; font-size: 20pt; width: 100%;text-align: center;">الموضوع: كتاب عمل</div>
                        <div style="clear: both;"></div>
                    </div>
                    <table class="table table-bordered" style="text-align: right;">

                        <tr>
                            @*<td>Patient Name</td>*@
                            <td>@Model.Name</td>
                            <td style="font-weight:bold;">اسم المريض</td>
                        </tr>
                        <tr>
                            @*<td>Patient CID</td>*@
                            <td>@Model.PatientCID</td>
                            <td style="font-weight:bold;">الرقم المدني</td>
                        </tr>
                        <tr>
                            @*<td>Hospital</td>*@
                            <td>@Model.Hospital</td>
                            <td style="font-weight:bold;">اسم المستشفى</td>
                        </tr>
                        <tr>
                            @*<td>Appointment Date</td>*@
                            <td>@Model.FirstApptDAteLongArabicFormatted</td>
                            <td style="font-weight:bold;">تاريخ بدء العلاج</td>
                        </tr>
                        <tr>
                            @*<td>End Treatment</td>*@
                            <td>@Model.EndTreatDateLongArabicFormatted</td>
                            <td style="font-weight:bold;">تاريخ انتهاء العلاج</td>
                        </tr>
                        <tr>
                            @*<td>Authorized Date</td>*@
                            <td>@Model.AuthorizedDateLongArabicFormatted</td>
                            <td style="font-weight:bold;">تاريخ انتهاء التغطية</td>
                        </tr>
                        <tr>
                            @*<td>Treatment period</td>*@
                            <td>@Model.TreatmentPeriod</td>
                            <td style="font-weight:bold;">مدة العلاج بالايام</td>
                        </tr>
                        <tr>
                            @*<td>Primary Companion</td>*@
                            @*<td>@Model.Companions.Where(c=>c.CompanionType=="Primary").Select(co=>co.Name).SingleOrDefault()</td>*@

                            <td>
                                @if (Model.PrimaryCompanion != null)
                                {
                                    @Model.PrimaryCompanion.Name
                                }
                                else
                                {
                                    <text>لا مرافق اول </text>
                                }
                            </td>
                            <td style="font-weight:bold;">المرافق الاول</td>
                        </tr>
                        <tr>
                            <td>
                                @if (Model.SecondaryCompanion != null)
                                {
                                    @Model.SecondaryCompanion.Name
                                }
                                else
                                {
                                    <text>  لا مرافق ثاني</text>
                                }
                            </td>
                            <td style="font-weight:bold;">المرافق الثاني</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12">
                    <br />
                    <label for="JobLetterNotes" id="labelForNote" style="text-decoration: underline; font-weight: bold;">Letter Note:</label>
                    <textarea class="k-textbox" cols="120" data-val="true" data-val-maxlength="The field Notes must be a string or array type with a maximum length of '250'."
                              data-val-maxlength-max="250" id="JobLetterNotes" name="JobLetterNotes"
                              rows="2" style="width: 100%; text-align: right;"></textarea>
                </div>

                <div class="col-md-12">
                    <div class="m-3 pull-right">
                        <u style="text-decoration: none; font-weight: bold; font-size: 20pt;">ولكم فائق الاحترام</u>
                    </div>
                    @*<div class="p-3 m-3 pull-right"><u style="text-decoration: none; font-weight: bold; font-size: 20pt;">مرفق كتاب طلب</u>
                        </div>*@

                    <div class="m-3 pull-left">
                        <u style="text-decoration: none; font-weight: bold; font-size: 20pt;">رئيس المكتب الصحي- واشنطن</u>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="m-3" style="text-align:right;"><span style="text-decoration:none; font-weight: bold; font-size: 20pt;">مرفق كتاب طلب</span></div>
                </div>
            </div>
        </div>
        <div id="houseRent" class="col-md-12" style="margin:30px;display:none; font-family: TimesNewRoman;">

            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <img src="~/Content/Images/Kuwait_embassyLogo.png" style="width: 120px" />
                </div>
                <div class="col-md-12" style="width: 100%">
                    <h3 style="text-transform: uppercase; text-align: center;">Embassy Of The State of Kuwait Health Division</h3>

                    <div class="pull-left" style="width: 100%">
                        <p style="text-align: center; margin: 0">4301 Connecticut Avenue, N.W. · Suite 330 · Washington, D.C. 20008 </p>
                        <p style="text-align: center; margin: 0">Telephone: (202) 686-4304 Fax: (202) 686-4308 or (202) 686-0092</p>
                    </div>
                    <div style="text-align: right; width: 90%">
                        <div style="font-weight: bold; font-size: 20pt;">@DateTime.Now.ToShortDateString()</div>
                        <div style="clear: both;"></div>
                        <div style="font-weight: bold; font-size: 20pt; width: 100%; text-decoration: underline;">
                            <p style="text-align: center; font-style:   italic;  margin-bottom: 0;  width: 100%;">TO WHOM IT MAY CONCERN</p>
                            <p style="text-align: center; margin-bottom: 0; width: 100%;">@Model.PatientCID</p>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="houseletter" style="text-align: justify ; font-size: 18pt;">
                            <div class="m-3" style="width: 90%;">
                                <p>This is to certify that</p>
                                <p style="font-weight: bold">@Model.EnglishName</p>
                                <p>is a Kuwaiti patient, at</p>
                                <p style="font-weight: bold">@Model.Hospital</p>
                                <p>, undergoing medical treatment under our auspice since</p>
                                <p style="font-weight: bold">@Model.FirstApptDAteFormatted</p>
                            </div>
                            <div class="m-3" style="width: 90%;">
                                <p>Patient </p>
                                <p style="font-weight: bold">@Model.EnglishPatFName</p>
                                @if (Model.PrimaryCompanion != null)
                                {
                                    <p>and his/her companion(s)</p>
                                    <p style="font-weight: bold">@Model.PrimaryCompanion.EnglishName</p>
                                    if (@Model.SecondaryCompanion != null)
                                    {
                                        <p style="font-weight: bold">&nbsp;& @Model.SecondaryCompanion.EnglishName</p>
                                    }

                                }

                                <p>
                                    Receive(s) monthly living allowances of
                                    @if (Model.PrimaryCompanion == null)
                                    {
                                    <p style="font-weight: bold;"> $7,465.80</p>
                                    }
                                    else
                                    {
                                        <p style="font-weight: bold;"> $9,928.80</p>
                                    }

                                    as long as the patient is undergoing our authorized treatment only.
                                    </p>

                                </div>
                                <div class="m-3" style="width: 90%;">
                                    <p>
                                        This information was released upon their request and for whatever purpose it might serve with no legal or financial obligation on the Embassy.
                                    </p>
                                </div>
                                <div class="m-3" style="width: 90%;text-indent: 100px;">
                                    <p style="">
                                        If you need further inquiries, please don’t hesitate to contact us at the above
                                    </p>
                                </div>
                                <div class="m-3" style="width: 90%;text-indent: 300px;">
                                    <p style="font-weight: bold">
                                        Sincerely yours,
                                    </p>
                                </div>
                                <div class="m-3" style="width: 90%; font-weight: bold; text-align: center">
                                    <p style="display: block; margin-bottom: 0;">
                                        Dr. FAISAL SALEH
                                    </p>
                                    <p>Head of Kuwait health office - Washington DC</p>

                                </div>
                                <div class="m-3" style="width: 90%; font-weight: bold; text-align: left;">
                                    <p style="display: block;margin-bottom: 0; text-decoration: underline;font-size: 20px; margin-top: 30px;">
                                        Rental Letter
                                    </p>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div class="col-md-12"></div>
                    <div class="col-md-12"></div>
                </div>
            </div>
            <div id="immigrationLetter" class="col-md-12" style="margin:30px; display:none;font-family: TimesNewRoman;">

                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <img src="~/Content/Images/Kuwait_embassyLogo.png" style="width: 120px" />
                    </div>
                    <div class="col-md-12" style="width: 100%">
                        <h3 style="text-transform: uppercase; text-align: center;">Embassy Of The State of Kuwait Health Division</h3>

                        <div class="pull-left" style="width: 100%">
                            <p style="text-align: center; margin: 0">4301 Connecticut Avenue, N.W. · Suite 330 · Washington, D.C. 20008 </p>
                            <p style="text-align: center; margin: 0">Telephone: (202) 686-4304 Fax: (202) 686-4308 or (202) 686-0092</p>
                        </div>
                        <div style="text-align: right; width: 90%">
                            <div style="font-weight: bold; font-size: 20pt;">@DateTime.Now.ToShortDateString()</div>
                            <div style="clear: both;"></div>
                            <div style="font-weight: bold; font-size: 20pt; width: 100%; text-decoration: underline;">
                                <p style="text-align: center; font-style:   italic;  margin-bottom: 0;  width: 100%;">TO WHOM IT MAY CONCERN</p>
                                <p style="text-align: center; margin-bottom: 0; width: 100%;">@Model.PatientCID</p>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="houseletter" style="text-align: justify ; font-size: 18pt;">
                                <div class="m-3" style="width: 90%;">
                                    <p>This is to certify that</p>
                                    <p style="font-weight: bold">@Model.EnglishName</p>
                                    <p>is a Kuwaiti patient, at</p>
                                    <p style="font-weight: bold">@Model.Hospital</p>
                                    <p>, undergoing medical treatment under our auspice since</p>
                                    <p style="font-weight: bold">@Model.FirstApptDAteFormatted</p>
                                    @if (Model.AuthorizedDate != null)
                                    {
                                        <p style="text-transform: capitalize">Until</p>
                                        <p style="font-weight: bold;">@Model.AuthorizedDateFormatted<p>.</p></p>
                                    }

                                </div>
                                <div class="m-3" style="width: 90%;">
                                    <p>Patient </p>
                                    <p style="font-weight: bold">@Model.EnglishPatFName</p>
                                    @if (Model.PrimaryCompanion != null)
                                    {
                                        <p>and his/her companion(s)</p>
                                        <p style="font-weight: bold">@Model.PrimaryCompanion.EnglishName</p>
                                        if (@Model.SecondaryCompanion != null)
                                        {
                                            <p style="font-weight: bold">&nbsp;& @Model.SecondaryCompanion.EnglishName</p>
                                        }
                                    }

                                    <p>
                                        Receive(s) monthly living allowances of
                                        @if (Model.PrimaryCompanion == null)
                                        {
                                        <p style="font-weight: bold;"> $7,465.80</p>
                                        }
                                        else
                                        {
                                            <p style="font-weight: bold;"> $9,928.80</p>
                                        }
                                        @*<p style="font-weight: bold;"> $7,402.70</p>*@

                                        as long as the patient is undergoing our authorized treatment only.
                                        </p>

                                    </div>
                                    <div class="m-3" style="width: 90%;">
                                        <p>
                                            This information was released upon their request and for whatever purpose it might serve with no legal or financial obligation on the Embassy.
                                        </p>
                                    </div>
                                    <div class="m-3" style="width: 90%;text-indent: 90px;">
                                        <p style="">
                                            If you need further inquiries, please don’t hesitate to contact us at the above
                                        </p>
                                    </div>
                                    <div class="m-3" style="width: 90%;text-indent: 300px;">
                                        <p style="font-weight: bold">
                                            Sincerely yours,
                                        </p>
                                    </div>
                                    <div class="m-3" style="width: 90%; font-weight: bold; text-align: center">
                                        <p style="display: block; margin-bottom: 0;">
                                            Dr. FAISAL SALEH
                                        </p>
                                        <p>Head of Kuwait health office - Washington DC</p>

                                    </div>
                                    <div class="m-3" style="width: 90%; font-weight: bold; text-align: left;">
                                        <p style="display: block;margin-bottom: 0; text-decoration: underline;font-size: 20px; margin-top: 30px;">
                                            immigartion Letter
                                        </p>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div class="col-md-12"></div>
                        <div class="col-md-12"></div>
                    </div>
                </div>
                <div id="companionLetter" class="col-md-12" style="margin:30px; display:none;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <img src="~/Content/Images/Kuwait_embassyLogo.png" style="width: 120px" />
                        </div>
                        <div class="col-md-12">
                            <h3 style="text-transform: uppercase; text-align: center; color: black !important">Embassy Of The State of Kuwait Health Division</h3>

                            <div class="pull-left" style="width: 100%">
                                <p style="text-align: center; margin: 0">4301 Connecticut Avenue, N.W. · Suite 330 · Washington, D.C. 20008 </p>
                                <p style="text-align: center;margin: 0">Telephone: (202) 686-4304   Fax: (202) 686-4308 or (202) 686-0092</p>
                            </div>

                            <div style="text-align: left; width: 100%">
                                <div style="font-weight: bold; font-size: 20pt;">@DateTime.Now.ToShortDateString()</div>
                                <div style="clear: both;"></div>
                                <div style="font-weight: bold; font-size: 20pt; width: 100%;">
                                    <p style="text-align: right; margin-bottom: 0; float: right; width: 50%;">السيد مدير ادارة العلاج بالخارج </p>
                                    <p style="text-align: center; margin-bottom: 0; width: 50%;">المحترم</p>
                                </div>
                                <div style="font-size: 20pt;  width: 100%;">
                                    <p style="text-align: right; margin-bottom: 0;float: right; width: 50%;">تحية طيبة وبعد ...</p>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="m-3" style="text-decoration: underline; font-weight: bold; font-size: 20pt; width: 100%;text-align: center;">الموضوع : استبدال/ اضافة  مرافــق</div>
                                <div style="clear: both;"></div>
                            </div>
                            <table class="table table-bordered" style="text-align: right;">

                                <tr>
                                    @*<td>Patient Name</td>*@
                                    <td>@Model.Name</td>
                                    <td style="font-weight:bold;">اسم المريض</td>
                                </tr>
                                <tr>
                                    @*<td>Patient CID</td>*@
                                    <td>@Model.PatientCID</td>
                                    <td style="font-weight:bold;">الرقم المدني</td>
                                </tr>
                                <tr>
                                    @*<td>Hospital</td>*@
                                    <td>@Model.Hospital</td>
                                    <td style="font-weight:bold;">اسم المستشفى</td>
                                </tr>
                                <tr>
                                    @*<td>Appointment Date</td>*@
                                    <td>@Model.FirstApptDAteLongArabicFormatted</td>
                                    <td style="font-weight:bold;">تاريخ بدء العلاج</td>
                                </tr>
                                <tr>
                                    @*<td>End Treatment</td>*@
                                    <td>@Model.EndTreatDateLongArabicFormatted</td>
                                    <td style="font-weight:bold;">تاريخ انتهاء العلاج</td>
                                </tr>
                                <tr>
                                    @*<td>Authorized Date</td>*@
                                    <td>@Model.AuthorizedDateLongArabicFormatted</td>
                                    <td style="font-weight:bold;">تاريخ انتهاء التغطية</td>
                                </tr>
                                <tr>
                                    @*<td>Treatment period</td>*@
                                    <td>@Model.TreatmentPeriod</td>
                                    <td style="font-weight:bold;">مدة العلاج بالايام</td>
                                </tr>
                                <tr>
                                    @*<td>Primary Companion</td>*@
                                    @*<td>@Model.Companions.Where(c=>c.CompanionType=="Primary").Select(co=>co.Name).SingleOrDefault()</td>*@

                                    <td>
                                        @if (Model.PrimaryCompanion != null)
                                        {
                                            @Model.PrimaryCompanion.Name
                                        }
                                        else
                                        {
                                            <text>No Companion</text>
                                        }
                                    </td>
                                    <td style="font-weight:bold;">المرافق الاول</td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (Model.SecondaryCompanion != null)
                                        {
                                            @Model.SecondaryCompanion.Name
                                        }
                                        else
                                        {
                                            <text>  لا مرافق ثاني</text>
                                        }
                                    </td>
                                    <td style="font-weight:bold;">المرافق الثاني</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <label for="CompanionLetterNotes" id="CompanionLetterLabelForNote" style="text-decoration: underline; font-weight: bold;">Letter Note:</label>
                            <textarea class="k-textbox" cols="120" data-val="true" data-val-maxlength="The field Notes must be a string or array type with a maximum length of '250'."
                                      data-val-maxlength-max="250" id="CompanionLetterNotes" name="CompanionLetterNotes"
                                      rows="2" style="width: 100%; text-align: right;"></textarea>
                        </div>

                        <div class="col-md-12">
                            <div class="m-3 pull-right">
                                <u style="text-decoration: none; font-weight: bold; font-size: 20pt;">ولكم فائق الاحترام</u>
                            </div>
                            @*<div class="p-3 m-3 pull-right"><u style="text-decoration: none; font-weight: bold; font-size: 20pt;">مرفق كتاب طلب</u>
                                </div>*@

                            <div class="m-3 pull-left">
                                <u style="text-decoration: none; font-weight: bold; font-size: 20pt;">رئيس المكتب الصحي- واشنطن</u>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-3" style="text-align:right;"><span style="text-decoration:none; font-weight: bold; font-size: 20pt;">مرفق كتاب طلب</span></div>
                        </div>
                    </div>
                </div>
                <div id="pledgeLetter" class="col-md-12" style="margin:30px; display:none;">
                    <h3 style="text-transform:uppercase; text-align:center;">pledge letter</h3>
                </div>
            </div>
}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("form").submit(function (event) {
            $(".k-widget").removeClass("input-validation-error");
        });
        var model = @Html.Raw(Json.Encode(Model));
        console.log("model test ",model);
        var patientCids = @Html.Raw(Json.Encode(patientList));
        console.log(patientCids);


        if (patientCids != null) {
            // var cids = patientCids.
            localStorage.setItem("cids", patientCids);
        }
        if (localStorage.getItem("cids") === null) {
            localStorage.setItem("cids", JSON.stringify(patientCids));
        } else {
            var idsString = localStorage.getItem("cids");
            patientCids = idsString.split(",");
        }
        $("#patientCid").kendoAutoComplete({
            dataSource: patientCids,
            filter: "startswith",
            placeholder: "Select Patient Civil ID..."
        });
        $('#JobLetterNotes, #CompanionLetterNotes').on('keyup paste', function() {
            var $el = $(this),
                offset = $el.innerHeight() - $el.height();

            if ($el.innerHeight() < this.scrollHeight) {
                // Grow the field if scroll height is smaller
                $el.height(this.scrollHeight - offset);
            } else {
                // Shrink the field and then re-set it to the scroll height in case it needs to shrink
                $el.height(1);
                $el.height(this.scrollHeight - offset);
            }
        });
        $('#printBook').click(function() {
            var bookTypeid = $('#BookType').val();
            if(bookTypeid){
                $("#JobLetterNotes, #CompanionLetterNotes").css("border","none").css("text-align","right").css("overflow","hidden");
                $("#labelForNote, #CompanionLetterLabelForNote").css("display","none");
                printBook(bookTypeid);
            }
        });
        $('#jobLetter, #houseRent, #immigrationLetter, #companionLetter, #pledgeLetter, #printBook').hide();
        $('#BookType').change(function() {
            var bookTypeid = $('#BookType').val();
            if(bookTypeid){
                $('#printBook').show();
                if (parseInt(bookTypeid) === 1) {//1 house rent
                    $('#houseRent').show();
                    $('#jobLetter, #immigrationLetter, #companionLetter, #pledgeLetter').hide();
                }else if (parseInt(bookTypeid) === 2) {//2 immigration Letter
                    $('#immigrationLetter').show();
                    $('#jobLetter, #houseRent, #companionLetter, #pledgeLetter').hide();
                }else if (parseInt(bookTypeid) === 3) {//3 Job Letter
                    $('#jobLetter').show();
                    $('#houseRent, #immigrationLetter, #companionLetter, #pledgeLetter').hide();
                }else if (parseInt(bookTypeid) === 4) {//4 Companion Letter
                    $('#companionLetter').show();
                    $('#jobLetter, #houseRent, #immigrationLetter, #pledgeLetter').hide();
                }else if (parseInt(bookTypeid) === 5) {//5 Pledge letter
                    $('#pledgeLetter').show();
                    $('#jobLetter, #houseRent, #immigrationLetter, #companionLetter').hide();
                }
            }else{
                $('#jobLetter, #houseRent, #immigrationLetter, #companionLetter, #pledgeLetter, #printBook').hide();
            }


        });
        function printBook(bookTypeid) {
            var element = $();
            var bookName="";
            if(parseInt(bookTypeid) === 1){
                element = $('#houseRent');
                bookName ="House Rent";
            }else if(parseInt(bookTypeid) === 2){
                element = $('#immigrationLetter');
                bookName ="Immigration Letter";
            }else if(parseInt(bookTypeid) === 3){
                element = $('#jobLetter');
                bookName ="Job Letter";
            }else if(parseInt(bookTypeid) === 4){
                element = $('#companionLetter');
                bookName ="Companion Letter";
            }else if(parseInt(bookTypeid) === 5){
                element = $('#pledgeLetter');
                bookName ="Pledge Letter";
            }
            element.printThis({
                //importCSS: false,
                //loadCSS: "./Content/VoucherPrintStyle.css",
                //header: "<h2>"+bookName+"</h2>",
                // debug: true,
            });
        }
    </script>
}

