@model Kwt.PatientsMgtApp.Core.Models.PatientModel

@{
    ViewBag.Title = "Edit Patient";
}


@using (Html.BeginForm("Edit", "Patient", FormMethod.Post, new { @class = ".k-form" }))
{

    <div class="mt-3">
        <p>

            <a href="@Url.Action("Details",new {patientCid = Model.PatientCID})" class="k-button"><i class="fa fa-ban" style="color: lightblue"></i> Cancel</a>

            <button type="submit" class="k-button"><i class="fa fa-check" style="color: greenyellow"></i> Update</button>
        </p>
    </div>


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PatientCID)
        @Html.HiddenFor(model => model.Id)
        <div id="patientEdit" style="visibility:hidden;">
            <button data-toggle="collapse" data-target="#patientDetail"><i></i> Patient Details</button>
            <fieldset id="patientDetail" class="collapse show">
                <legend></legend>
                <ul class="fieldlist row">
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.PatientFName, new { @class = "" })
                        @Html.TextBoxFor(model => model.PatientFName, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.PatientFName, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.PatientMName, new { @class = "" })
                        @Html.TextBoxFor(model => model.PatientMName, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.PatientMName, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.PatientLName, new { @class = "" })
                        @Html.TextBoxFor(model => model.PatientLName, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.PatientLName, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.KWTPhone, new { @class = "" })
                        @Html.TextBoxFor(model => model.KWTPhone, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.KWTPhone, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.USPhone, htmlAttributes: new { @class = "" })
                        @Html.TextBoxFor(model => model.USPhone, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.USPhone, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.Agency, new { @class = "" })
                        @Html.DropDownListFor(model => model.Agency, new List<SelectListItem>(Model.Agencies.Select(a => new SelectListItem()
                   {
                       Text = a.AgencyName,
                       Value = a.AgencyName
                   }).ToList()), "", new { style = "width:50%" })
                        @Html.ValidationMessageFor(model => model.Agency, "", new { @class = "text-danger" })
                    </li>
                </ul>
            </fieldset>
            <button data-toggle="collapse" data-target="#dignosisDetails"><i></i> Dignosis Details</button>
            <fieldset id="dignosisDetails" class="collapse">
                <legend></legend>
                <ul class="fieldlist row">
                    <li class="col-md-6">
                        @Html.LabelFor(model => model.Hospital, new { @class = "" })
                        @Html.DropDownListFor(model => model.Hospital, new List<SelectListItem>(Model.Hospitals.Select(a => new SelectListItem()
                       {
                           Text = a.HospitalName,
                           Value = a.HospitalName
                       }).ToList()), "", new { style = "width:90%" })
                        @Html.ValidationMessageFor(model => model.Hospital, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-6">
                        @Html.LabelFor(model => model.Specialty, new { @class = "" })
                        @Html.DropDownListFor(model => model.Specialty, new List<SelectListItem>(Model.Sepcialities.Select(a => new SelectListItem()
                       {
                           Text = a.Speciality,
                           Value = a.Speciality
                       }).ToList()), "", new { style = "width:50%" })
                        @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-6">
                        @Html.LabelFor(model => model.Doctor, new {@class = ""})
                        @Html.DropDownListFor(model => model.Doctor, new List<SelectListItem>(Model.Doctors.Select(a => new SelectListItem()
                        {
                            Text = a.DoctorName,
                            Value = a.DoctorName
                        }).ToList()), "", new {style = "width:50%"})
                        @Html.ValidationMessageFor(model => model.Doctor, "", new {@class = "text-danger"})
                    </li>
                    <li class="col-md-6">
                        @Html.LabelFor(model => model.Diagnosis, new { @class = "" })
                        @Html.TextAreaFor(model => model.Diagnosis, new { @class = "k-editor-textarea", style = "width: 100%;", maxlength = "250" })
                        @Html.ValidationMessageFor(model => model.Diagnosis, "", new { @class = "text-danger" })
                    </li>
                </ul>
            </fieldset>
            <button data-toggle="collapse" data-target="#bankDetails"><i> </i> Bank Details</button>
            <fieldset id="bankDetails" class="collapse">
                <legend></legend>
                <ul class="fieldlist row">
                    <li class="col-md-2">
                        @Html.LabelFor(model => model.IsBeneficiary, new {@class = "k-checkbox-label"})
                        @Html.EditorFor(model => model.IsBeneficiary, new {@class = "k-checkbox"})
                        @Html.ValidationMessageFor(model => model.IsBeneficiary, "", new {@class = "text-danger"})
                    </li>
                </ul>
                <ul class="fieldlist row">
                    <li class="col-md-6 pt-2">
                        @Html.LabelFor(model => model.BankName, new { @class = "" })
                        @Html.DropDownListFor(model => model.BankName, new List<SelectListItem>(Model.Banks.Select(a => new SelectListItem()
                           {
                               Text = a.BankName,
                               Value = a.BankName
                           }).ToList()), "", new { style = "width:60%" })
                        @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-6 pt-2">
                        @Html.LabelFor(model => model.Iban, new { @class = "" })
                        @Html.TextBoxFor(model => model.Iban, new { @class = "k-textbox", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Iban, "", new { @class = "text-danger" })
                    </li>
                </ul>
            </fieldset>
            <button data-toggle="collapse" data-target="#treatmentDetails"><i> </i> Treatment Details</button>
            <fieldset id="treatmentDetails" class="collapse">
                <legend></legend>
                <ul class="fieldlist row">
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.FirstApptDAte, new { @class = "" })
                        @Html.TextBoxFor(model => model.FirstApptDAte, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%" })
                        @Html.ValidationMessageFor(model => model.FirstApptDAte, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.EndTreatDate, new { @class = "" })                        
                        @Html.TextBoxFor(model => model.EndTreatDate, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%" })
                        @Html.ValidationMessageFor(model => model.EndTreatDate, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.IsActive, new { @class = "" })
                        @Html.EditorFor(model => model.IsActive, new { @class = "form-control", style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.Notes, new { @class = "" })
                        @Html.TextAreaFor(model => model.Notes, new { @class = "k-editor-textarea", maxlength = "250", style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </li>


                </ul>
            </fieldset>
        </div>
        <div class="mt-3">
            <p>
                <a href="@Url.Action("Details", new {patientCid = Model.PatientCID})" class="k-button"><i class="fa fa-ban" style="color: lightblue"></i> Cancel</a>
                <button type="submit" class="k-button"><i class="fa fa-check" style="color: greenyellow"></i> Update</button>
            </p>
        </div>

    </div>
}



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //$('.datepicker').datepicker({
        //    dateFormat: "m/d/yy"
        //});


        $(document).ready(function () {
            $("#EndTreatDate, #FirstApptDAte").kendoDatePicker();
            $("#BankName, #Hospital, #Agency, #Specialty, #Doctor").kendoDropDownList();
            $("#KWTPhone").kendoMaskedTextBox({
                mask: "96500000000"
            });
            $("#USPhone").kendoMaskedTextBox({
                mask: "0000000000"
            });
            $("#Iban").kendoMaskedTextBox({
                mask: "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
                promptChar: ""
                //
            });
            $("#patientEdit").css("visibility", "visible");

            $('#patientEdit button').addClass('btn btn-block mb-2 text-uppercase text-white bg-info');
            //fa fa-angle-double-down pull-left
            $('#patientEdit button i').addClass('fa fa-angle-double-down pull-left');


            $('#patientEdit button').click(function (e) {
                e.preventDefault();
                var $this = this;
                var caret = $($this).find('i');
                if ($(caret).hasClass('fa-angle-double-down'))
                    $(caret).removeClass('fa-angle-double-down').addClass("fa-angle-double-up");
                else
                    $(caret).removeClass('fa-angle-double-up').addClass("fa-angle-double-down");

            });
            $(".loader").css("display", "none");
        });
    </script>

}
