@using Kwt.PatientsMgtApp.WebUI.Infrastructure
@model Kwt.PatientsMgtApp.Core.Models.PatientModel

@{
    ViewBag.Title = "Edit Patient";
}


@using (Html.BeginForm("Edit", "Patient", FormMethod.Post, new { @class = "k-form", id = "PatientEdit", enctype = "multipart/form-data" }))
{

    <div class="mt-3 row">
        <div class="pr-4 mb-4">
            <a href="@Url.Action("Details", new {patientCid = Model.PatientCID})" class="k-button"><i class="fa fa-ban" style="color: lightblue"></i> Cancel</a>
        </div>
        <div class="mb-4">
            <button type="submit" class="k-button"><i class="fa fa-check" style="color: greenyellow"></i> Update</button>
        </div>
        @if (User.IsInAnyRoles(CrudRoles.AdminCrudRoles))
        {
            @* Uncomment the next lines once the invoice is complete *@
            <div class="col-md-12 row pb-3">
                @if (Model.IsBlocked == true)
                {
                    <div style="width: 100%">
                        <p class="aler alert-dark p-4" style="width: 100%">This Patient Is Blocked <i class="fa fa-ban"></i>, So he/she can't be paid. To Unblock him/her click '<i class="fa fa-unlock-alt"></i> Unblock This Patient' below  </p>
                    </div>
                    <div>
                        <button id="unBlockPatient" type="submit" class="k-button" style="width: 100%"><i class="fa fa-unlock-alt" style="color: lightcoral"></i> Unblock This Patient</button>
                    </div>
                }
                else
                {
                    <div style="width: 100%">
                        <p class="aler alert-dark p-4" style="width: 100%">This Patient Is Not Blocked, To block him/her click '<i class="fa fa-lock"></i> Block This Patient' below </p>
                    </div>
                    <div>
                        <button id="blockPatient" type="submit" class="k-button" style="width: 100%"><i class="fa fa-lock" style="color: lightcoral"></i> Block This Patient</button>
                    </div>

                }
            </div>
        }



    </div>



    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "k-error-colored" })
        @Html.HiddenFor(model => model.PatientCID)
        @Html.HiddenFor(model => model.Id)


        <div id="patientEdit" style="visibility:hidden;">
            <button data-toggle="collapse" data-target="#patientDetail"><i></i> Patient Details</button>
            <fieldset id="patientDetail" class="collapse show">
                <legend></legend>
                <ul class="fieldlist row">
                    @* new implementation 5/24/2020 have uplaod functionality to shared folder during patient creation *@
                    <li class="col-md-10">
                        <small class="text-sm-left text-info">&nbsp;</small>
                        <label for="PatientPasportFile">Upload Patient Passport</label>
                        @Html.TextBoxFor(model => model.PatientPasportFile, "", new { @type = "file", @multiple = "multiple", style = "display:none" })
                        <button class="addPasportFile">Add Files</button>
                        <label id="PatientPasportFileUploadedFiles"></label>
                        <div>
                            @Html.ValidationMessageFor(model => model.PatientPasportFile, "", new { @class = "text-danger" })
                        </div>
                        @if (Model.PatientFiles[0].FilesPath.Length > 0)
                        {
                            for (int x = 0; x < @Model.PatientFiles[0].FilesPath.Length; x++)
                            {
                                <label style="width: 100%; display:block">
                                    <a style="width: 100%;" href="@Url.Action("Download", "Patient",  new { link = @Model.PatientFiles[0].FilesPath[x], filename=@Model.PatientFiles[0].FilesName[x]})">@Model.PatientFiles[0].FilesName[x]</a>
                                </label>
                            }
                        }
                        else
                        {
                            <label> No files found</label>
                        }

                    </li>
                    @*  end of new implemetation *@
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.PatientFName, new { @class = "" })
                        @Html.TextBoxFor(model => model.PatientFName, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.PatientFName, "", new { @class = "k-error-colored" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.PatientMName, new { @class = "" })
                        @Html.TextBoxFor(model => model.PatientMName, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.PatientMName, "", new { @class = "k-error-colored" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.PatientLName, new { @class = "" })
                        @Html.TextBoxFor(model => model.PatientLName, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.PatientLName, "", new { @class = "k-error-colored" })
                    </li>
                    @* english name *@
                    <li class="col-md-4">

                        @Html.LabelFor(model => model.EnglishPatFName, new { @class = "" })
                        @Html.TextBoxFor(model => model.EnglishPatFName, new { @class = "k-textbox", style = "width: 100%;" })
                        <div>
                            @Html.ValidationMessageFor(model => model.EnglishPatFName, "", new { @class = "k-error-colored" })
                        </div>
                    </li>
                    <li class="col-md-4">

                        @Html.LabelFor(model => model.EnglishPatMName, new { @class = "" })
                        @Html.TextBoxFor(model => model.EnglishPatMName, new { @class = "k-textbox", style = "width: 100%;" })
                        <div>
                            @Html.ValidationMessageFor(model => model.EnglishPatMName, "", new { @class = "k-error-colored" })
                        </div>
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.EnglishPatLName, new { @class = "" })
                        @Html.TextBoxFor(model => model.EnglishPatLName, new { @class = "k-textbox", style = "width: 100%;" })
                        <div>
                            @Html.ValidationMessageFor(model => model.EnglishPatLName, "", new { @class = "k-error-colored" })
                        </div>
                    </li>
                    @*  *@
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.KWTPhone, new { @class = "" })
                        @Html.TextBoxFor(model => model.KWTPhone, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.KWTPhone, "", new { @class = "k-error-colored" })
                    </li>
                    <li class="col-md-4">
                        @Html.LabelFor(model => model.USPhone, htmlAttributes: new { @class = "" })
                        @Html.TextBoxFor(model => model.USPhone, new { @class = "k-textbox", style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.USPhone, "", new { @class = "k-error-colored" })
                    </li>
                    @if (!User.IsInRole("Medical"))
                    {
                        <li class="col-md-4">
                            @Html.LabelFor(model => model.Agency, new { @class = "" })
                            @Html.DropDownListFor(model => model.Agency, new List<SelectListItem>(Model.Agencies.Select(a => new SelectListItem()
                       {
                           Text = a.AgencyName,
                           Value = a.AgencyName
                       }).ToList()), "", new { style = "width:50%" })
                            @Html.ValidationMessageFor(model => model.Agency, "", new { @class = "k-error-colored" })
                        </li>
                    }
                    else
                    {
                        <li class="col-md-4">
                            @Html.LabelFor(model => model.Agency, htmlAttributes: new { @class = "" })
                            @Html.TextBoxFor(model => model.Agency, new { @class = "k-textbox", style = "width: 50%;" })
                        </li>
                    }

                </ul>
            </fieldset>
            <button data-toggle="collapse" data-target="#dignosisDetails"><i></i> Dignosis Details</button>
            <fieldset id="dignosisDetails" class="collapse">
                <legend></legend>
                <ul class="fieldlist row">
                    @if (!User.IsInRole("Medical"))
                    {
                        <li class="col-md-6">
                            @Html.LabelFor(model => model.Hospital, new { @class = "" })
                            @Html.DropDownListFor(model => model.Hospital, new List<SelectListItem>(Model.Hospitals.Select(a => new SelectListItem()
                       {
                           Text = a.HospitalName,
                           Value = a.HospitalName
                       }).ToList()), "", new { style = "width:90%" })
                            @Html.ValidationMessageFor(model => model.Hospital, "", new { @class = "k-error-colored" })
                        </li>
                        <li class="col-md-6">
                            @Html.LabelFor(model => model.Specialty, new { @class = "" })
                            @Html.DropDownListFor(model => model.Specialty, new List<SelectListItem>(Model.Sepcialities.Select(a => new SelectListItem()
                       {
                           Text = a.Speciality,
                           Value = a.Speciality
                       }).ToList()), "", new { style = "width:50%" })
                            @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "k-error-colored" })
                        </li>
                        <li class="col-md-6">
                            @Html.LabelFor(model => model.Doctor, new { @class = "" })
                            @Html.DropDownListFor(model => model.Doctor, new List<SelectListItem>(Model.Doctors.Select(a => new SelectListItem()
                       {
                           Text = a.DoctorName,
                           Value = a.DoctorName
                       }).ToList()), "", new { style = "width:50%" })
                            @Html.ValidationMessageFor(model => model.Doctor, "", new { @class = "k-error-colored" })
                        </li>
                    }
                    else
                    {
                        @*<li class="col-md-6">
                                 @Html.LabelFor(model => model.Hospital, new { @class = "" })
                                 @Html.TextBoxFor(model => model.Hospital, new { @class = "k-textbox", style = "width: 90%;" })
                             </li>
                             <li class="col-md-6">
                                 @Html.LabelFor(model => model.Specialty, new { @class = "" })
                                 @Html.DropDownListFor(model => model.Specialty, new List<SelectListItem>(Model.Sepcialities.Select(a => new SelectListItem()
                            {
                                Text = a.Speciality,
                                Value = a.Speciality
                            }).ToList()), "", new { style = "width:50%" })
                                 @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "k-error-colored" })
                             </li>
                             <li class="col-md-6">
                                 @Html.LabelFor(model => model.Doctor, new { @class = "" })
                                 @Html.TextBoxFor(model => model.Doctor, new { @class = "k-textbox", style = "width: 50%;" })
                             </li>*@
                        <li class="col-md-6">
                            @Html.LabelFor(model => model.Hospital, new { @class = "" })
                            @Html.DropDownListFor(model => model.Hospital, new List<SelectListItem>(Model.Hospitals.Select(a => new SelectListItem()
                       {
                           Text = a.HospitalName,
                           Value = a.HospitalName
                       }).ToList()), "", new { style = "width:90%" })
                            @Html.ValidationMessageFor(model => model.Hospital, "", new { @class = "k-error-colored" })
                        </li>
                        <li class="col-md-6">
                            @Html.LabelFor(model => model.Specialty, new { @class = "" })
                            @Html.DropDownListFor(model => model.Specialty, new List<SelectListItem>(Model.Sepcialities.Select(a => new SelectListItem()
                       {
                           Text = a.Speciality,
                           Value = a.Speciality
                       }).ToList()), "", new { style = "width:50%" })
                            @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "k-error-colored" })
                        </li>
                        <li class="col-md-6">
                            @Html.LabelFor(model => model.Doctor, new { @class = "" })
                            @Html.DropDownListFor(model => model.Doctor, new List<SelectListItem>(Model.Doctors.Select(a => new SelectListItem()
                       {
                           Text = a.DoctorName,
                           Value = a.DoctorName
                       }).ToList()), "", new { style = "width:50%" })
                            @Html.ValidationMessageFor(model => model.Doctor, "", new { @class = "k-error-colored" })
                        </li>
                    }

                    <li class="col-md-6">
                        @Html.LabelFor(model => model.Diagnosis, new { @class = "" })
                        @Html.TextAreaFor(model => model.Diagnosis, new { @class = "k-editor-textarea", style = "width: 100%;", maxlength = "250" })
                        @*@Html.ValidationMessageFor(model => model.Diagnosis, "", new { @class = "text-danger" })*@
                    </li>
                </ul>
            </fieldset>
            <button data-toggle="collapse" data-target="#bankDetails"><i> </i> Bank Details</button>
            <fieldset id="bankDetails" class="collapse">
                <legend></legend>
                <ul class="fieldlist row">
                    @if (!User.IsInRole("Medical"))
                    {
                        <li class="col-md-2">
                            @Html.LabelFor(model => model.IsBeneficiary, new { @class = "k-checkbox-label" })
                            @Html.EditorFor(model => model.IsBeneficiary, new { @class = "k-checkbox" })
                            @Html.ValidationMessageFor(model => model.IsBeneficiary, "", new { @class = "k-error-colored" })
                        </li>
                    }
                    else
                    {
                        <li class="col-md-2">
                            @Html.LabelFor(model => model.IsBeneficiary, new { @class = "k-checkbox-label" })
                            @Html.TextBoxFor(model => model.IsBeneficiary, new { @class = "k-checkbox" })
                        </li>
                    }

                </ul>
                <ul class="fieldlist row">
                    @if (!User.IsInRole("Medical"))
                    {
                        <li class="col-md-6 pt-2">
                            @Html.LabelFor(model => model.BankName, new { @class = "" })
                            @Html.DropDownListFor(model => model.BankName, new List<SelectListItem>(Model.Banks.Select(a => new SelectListItem()
                       {
                           Text = a.BankName,
                           Value = a.BankName
                       }).ToList()), "", new { style = "width:60%" })
                            @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "k-error-colored" })
                        </li>
                    }
                    else
                    {
                        <li class="col-md-6 pt-2">
                            @Html.LabelFor(model => model.BankName, new { @class = "" })
                            @Html.TextBoxFor(model => model.BankName, new { @class = "k-textbox", style = "width: 60%;" })
                        </li>
                    }

                    <li class="col-md-6 pt-2">
                        @Html.LabelFor(model => model.Iban, new { @class = "" })
                        @Html.TextBoxFor(model => model.Iban, new { @class = "k-textbox", style = "width:100%", maxlength = "30" })
                        @Html.ValidationMessageFor(model => model.Iban, "", new { @class = "k-error-colored" })
                    </li>
                </ul>
            </fieldset>
            <button data-toggle="collapse" data-target="#treatmentDetails"><i> </i> Treatment Details</button>
            <fieldset id="treatmentDetails" class="collapse">
                <legend></legend>
                <ul class="fieldlist row">
                    <li class="col-md-3">
                        @Html.LabelFor(model => model.FirstApptDAte, new { @class = "" })
                        @Html.TextBoxFor(model => model.FirstApptDAte, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%" })
                        @Html.ValidationMessageFor(model => model.FirstApptDAte, "", new { @class = "k-error-colored" })
                    </li>
                    <li class="col-md-8">
                        <label for="PatientEndTreatmentFile">Upload Patient First Appointment Doc </label>
                        <button class="addFirstApointmentFile">Add Files</button>
                        @Html.TextBoxFor(model => model.PatientFirstApointmentFile, "", new { @type = "file", @multiple = "multiple", style = "display: none;" })
                        <label id="PatientFirstApointmentFileUploadedFiles"></label>
                        <div>
                            @Html.ValidationMessageFor(model => model.PatientFirstApointmentFile, "", new { @class = "text-danger" })
                            @*<input name="PatientFirstApointmentFile"  required  type="file" aria-label="files" />*@
                        </div>
                    </li>
                    <li class="col-md-3">
                        @Html.LabelFor(model => model.EndTreatDate, new { @class = "" })
                        @Html.TextBoxFor(model => model.EndTreatDate, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%" })
                        @Html.ValidationMessageFor(model => model.EndTreatDate, "", new { @class = "k-error-colored" })
                    </li>
                    <li class="col-md-8">

                        <label for="PatientEndTreatmentFile">Upload Patient End Treatment Doc </label>
                        @Html.TextBoxFor(model => model.PatientEndTreatmentFile, "", new { @type = "file", @multiple = "multiple", style = "display: none;" })
                        <button class="addEndTreatmentFile">Add Files</button>
                        <label id="PatientEndTreatmentFileUploadedFiles"></label>
                        <div>
                            @Html.ValidationMessageFor(model => model.PatientEndTreatmentFile, "", new { @class = "text-danger" })
                            @*<input name="PatientEndTreatmentFile" required  type="file" aria-label="files" />*@
                        </div>
                    </li>
                    <li class="col-md-3">
                        @Html.LabelFor(model => model.AuthorizedDate, new { @class = "" })
                        @Html.TextBoxFor(model => model.AuthorizedDate, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%" })
                        <div>
                            @Html.ValidationMessageFor(model => model.AuthorizedDate, "", new { @class = "k-error-colored" })
                        </div>
                    </li>
                    @if (!User.IsInRole("Medical"))
                    {
                        <li class="col-md-2">
                            @Html.LabelFor(model => model.IsActive, new { @class = "" })
                            @Html.EditorFor(model => model.IsActive, new { @class = "form-control", style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "k-error-colored" })
                        </li>
                        <li class="col-md-3">
                            @Html.LabelFor(model => model.IsDead, new { @class = "" })
                            @Html.EditorFor(model => model.IsDead, new { @class = "form-control", style = "width: 100%" })
                        </li>
                        <li class="col-md-3 hidden" id="taggleDeathDate">
                            @Html.LabelFor(model => model.DeathDate, new { @class = "" })
                            @Html.TextBoxFor(model => model.DeathDate, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%;" })
                            <div>
                                @Html.ValidationMessageFor(model => model.DeathDate, "", new { @class = "k-error-colored" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="col-md-2">
                            @Html.LabelFor(model => model.IsActive, new { @class = "" })
                            @Html.EditorFor(model => model.IsActive, new { @class = "form-control", style = "width: 100%" })
                        </li>
                        <li class="col-md-3">
                            @Html.LabelFor(model => model.IsDead, new { @class = "" })
                            @Html.EditorFor(model => model.IsDead, new { @class = "form-control", style = "width: 100%" })
                        </li>
                        <li class="col-md-3"id="taggleDeathDate">
                            @Html.LabelFor(model => model.DeathDate, new { @class = "" })
                            @Html.TextBoxFor(model => model.DeathDate, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%" })
                            <div>
                                @Html.ValidationMessageFor(model => model.DeathDate, "", new { @class = "k-error-colored" })
                            </div>
                        </li>
                        @*xxxxxxxxxxxxxxxxxxxxPatient Extensionsxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

                        <li class="col-md-3">
                            @Html.LabelFor(model => model.HasExtension, new { @class = "" })
                            @Html.EditorFor(model => model.HasExtension, new { @class = "form-control", style = "width: 100%" })
                        </li>
                            <li class="col-md-3" id="ExtensionStartDate">
                                @Html.LabelFor(model => model.PatientExtension.ExtensionStartDate, new { @class = "" })
                                @Html.TextBoxFor(model => model.PatientExtension.ExtensionStartDate, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%" })
                                <div>
                                    @Html.ValidationMessageFor(model => model.PatientExtension.ExtensionStartDate, "", new { @class = "k-error-colored" })
                                </div>
                            </li>
                            <li class="col-md-3" id="ExtensionEndDate">
                                @Html.LabelFor(model => model.PatientExtension.ExtensionEndDate, new { @class = "" })
                                @Html.TextBoxFor(model => model.PatientExtension.ExtensionEndDate, "{0:MM/dd/yyyy}", new { @class = "", style = "width: 60%" })
                                <div>
                                    @Html.ValidationMessageFor(model => model.PatientExtension.ExtensionEndDate, "", new { @class = "k-error-colored" })
                                </div>
                            </li>
                            <li class="col-md-10" id="ExtensionDocs">
                                <label for="PatientExtesionFile">Upload Patient Extensions</label>
                                @Html.TextBoxFor(model => model.PatientExtesionFile, "", new { @type = "file", @multiple = "multiple", style = "display:none" })
                                <button class="addExtensionFile">Add Files</button>
                                <label id="PatientExtensionFileUploadedFiles"></label>
                                @if (Model.PatientFiles[2].FilesPath!=null&&Model.PatientFiles[2].FilesPath.Length > 0)
                                {
                                    for (int x = 0; x < @Model.PatientFiles[2].FilesPath.Length; x++)
                                    {
                                        <label style="width: 100%; display:block">
                                            <a style="width: 100%;" href="@Url.Action("Download", "Patient",  new { link = @Model.PatientFiles[2].FilesPath[x], filename=@Model.PatientFiles[2].FilesName[x]})">@Model.PatientFiles[2].FilesName[x]</a>
                                        </label>
                                    }
                                }
                                else
                                {
                                    <label> No files found</label>
                                }
                            </li>

                            @*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@

                    }


                    <li class="col-md-4">
                        @Html.LabelFor(model => model.Notes, new { @class = "" })
                        @Html.TextAreaFor(model => model.Notes, new { @class = "k-editor-textarea", maxlength = "250", style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "k-error-colored" })
                    </li>
                    <li class="col-md-6">


                        <label>Patient Appointment Uploaded Files</label>
                        @if (Model.PatientFiles[1].FilesPath.Length > 0)
                        {
                            for (int x = 0; x < @Model.PatientFiles[1].FilesPath.Length; x++)
                            {
                                <label style="width: 100%; display:block">
                                    <a href="@Url.Action("Download", "Patient",  new { link = @Model.PatientFiles[1].FilesPath[x], filename=@Model.PatientFiles[1].FilesName[x]} )">@Model.PatientFiles[1].FilesName[x]</a>
                                </label>
                            }
                        }
                        
                    </li>

                </ul>
            </fieldset>
        </div>
        <div class="mt-3">
            <p>
                <a href="@Url.Action("Details", new {patientCid = Model.PatientCID})" class="k-button"><i class="fa fa-ban" style="color: lightblue"></i> Cancel</a>
                <button type="submit" class="k-button"><i class="fa fa-check" style="color: greenyellow"></i> Update</button>
            </p>
        </div>

    </div>
}



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //$('.datepicker').datepicker({
        //    dateFormat: "m/d/yy"
        //});

        $("form").submit(function(event) {
            $(".k-widget").removeClass("input-validation-error");
        });
        $(document).ready(function () {

            var isMedical =   @Html.Raw(Json.Encode(User.IsInRole("Medical")));
            var patient = @Html.Raw(Json.Encode(Model));
            console.log(patient);
            if (!isMedical) {
                var datePicker =  $("#EndTreatDate, #FirstApptDAte, #AuthorizedDate, #DeathDate").kendoDatePicker();
                var dropDownlist =  $("#BankName, #Hospital, #Agency, #Specialty, #Doctor").kendoDropDownList();
            }

            $("#KWTPhone").kendoMaskedTextBox({
                mask: "0000000000"
            });
            $("#USPhone").kendoMaskedTextBox({
                mask: "0000000000"
            });
            $("#Iban").kendoMaskedTextBox({
                mask: "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
                promptChar: ""
                //
            });
            $("#patientEdit").css("visibility", "visible");

            $('#patientEdit button').addClass('btn btn-block mb-2 text-uppercase text-white bg-info');
            //fa fa-angle-double-down pull-left
            $('#patientEdit button i').addClass('fa fa-angle-double-down pull-left');


            $('#patientEdit button').click(function (e) {
                e.preventDefault();
                var $this = this;
                var caret = $($this).find('i');
                if ($(caret).hasClass('fa-angle-double-down'))
                    $(caret).removeClass('fa-angle-double-down').addClass("fa-angle-double-up");
                else
                    $(caret).removeClass('fa-angle-double-up').addClass("fa-angle-double-down");

            });

            $('#unBlockPatient').click(function (e) {
                //e.preventDefault();
                //Model.IsBlocked = false;
                $('#PatientEdit').append('<input type="hidden" name="IsBlocked" value="false" />');

            });
            $('#blockPatient').click(function (e) {
                //e.preventDefault();
                //Model.IsBlocked = true;
                $('#PatientEdit').append('<input type="hidden" name="IsBlocked" value="true" />');

            });
            //new

            if (isMedical && isMedical==true) {
                var formElem = $('#PatientEdit input[type="text"], #Notes');
                var kendoDropDown = $("#BankName, #Agency");//$("#BankName, #Hospital, #Agency, #Doctor");
                var kendodatepicker = $("#FirstApptDAte, #AuthorizedDate");
                var endTreatment = $("#EndTreatDate");
                var specialty = $("#Specialty");
                $("#dignosisDetails, #treatmentDetails").removeClass( "collapse" ).addClass( "collapse show" );
                //formElem.prop("disabled", true);
                $("#EndTreatDate").kendoDatePicker({
                    enable: true
                });
                formElem.addClass( "edit" );
                formElem.attr("readonly", "readonly");
                kendodatepicker.addClass( "edit" );
                kendoDropDown.addClass( "edit" );
                //$("select").prop("disabled", "disabled"); readonly="readonly"
                $('#PatientEdit #Notes').addClass("edit");
                $('#PatientEdit #Diagnosis').css("border", "2px solid lightgreen").focus();
                //$("#PatientEdit button").attr("disabled", false);
                // kendoDropDown.kendoTextbox();
                kendodatepicker.kendoDatePicker({
                    enable: false
                });

                endTreatment.removeClass("edit");
                endTreatment.attr("readonly", false);
                //endTreatment.css("border", "2px solid lightgreen");
                specialty.kendoDropDownList();

                // new patient extension
                var extensionEle= $("#PatientExtension_ExtensionStartDate, #PatientExtension_ExtensionEndDate");
                var extensionDate =$("#ExtensionStartDate, #ExtensionEndDate, #ExtensionDocs");                
                var exteionDates=extensionEle.kendoDatePicker();
                var hasExtension = $('#HasExtension').is(':checked')                
                if(!hasExtension){
                    $("#PatientExtension_ExtensionStartDate").data("kendoDatePicker").enable(true);
                    $("#PatientExtension_ExtensionEndDate").data("kendoDatePicker").enable(true);
                    extensionDate.css("display","none");
                   
                }else{
                    // when the patient has extension that is not paid yet, no extension could be added unless the patient is paid on the extension period
                    //thus the radio button of the has extension, the extension start date and end date and the extension doc all should be grayed out, 
                    // user can't modify the data
                    extensionDate.css("display","block");
                    $('#HasExtension').prop( "disabled", true );
                    $('#PatientExtesionFile, #ExtensionDocs button ').prop("disabled",true).addClass("edit");
                    $("#PatientExtension_ExtensionStartDate").data("kendoDatePicker").enable(false);
                    $("#PatientExtension_ExtensionEndDate").data("kendoDatePicker").enable(false);
                   // extensionDate.enable(true);
                }
                extensionEle.removeClass("edit").attr("readonly", false);
                
                
                $("#HasExtension").change(function() {

                    if ($('#HasExtension').is(":checked"))
                    {
                        extensionDate.css("display","block");
                  
                    } else {
                        extensionDate.css("display","none");
                        exteionDates.val(null);                  
                    }

                });
                // end new patient extension
            }


            // is dead ipmplementation
            //console.log($('#IsDead').val());
            //if ($('#IsDead').val() && $('#IsDead').val() === 'true')
            if ($('#IsDead').is(":checked")){
                $('#taggleDeathDate').css("display","block").removeAttr("readonly");
               // $('#DeathDate').removeAttr("readonly");
            }
                
            else {
                $('#taggleDeathDate').css("display","none");
               // $('#DeathDate').attr("readonly", "readonly");
            }
            $('#IsDead').change(function() {

                var isdead = $('#IsDead').is(":checked");
                console.log(isdead);
                //if (isdead && isdead === 'true')
                if (isdead)
                {
                    $('#taggleDeathDate').css("display","block");
                 //   $('#DeathDate').removeAttr("readonly");
                } else {
                    $('#DeathDate').val(null);
                    $('#taggleDeathDate').css("display","none");
                    //$('#DeathDate').removeAttr("readonly");
                }

            });
            //
            // file uploades
            $('.addEndTreatmentFile').on('click', function() {
                $('#PatientEndTreatmentFile').click();
                return false;
            });
            $("#PatientEndTreatmentFile").change(function(){
                var files =$(this)[0].files;
                var selectedFiles="";
                for (var i = 0; i < files.length; ++i) {
                    var name = files.item(i).name;
                    selectedFiles += name +" | ";

                }
                $('#PatientEndTreatmentFileUploadedFiles').text(selectedFiles);
            });

            $('.addFirstApointmentFile').on('click', function() {
                $('#PatientFirstApointmentFile').click();
                return false;
            });
            $("#PatientFirstApointmentFile").change(function(){
                var files =$(this)[0].files;
                var selectedFiles="";
                for (var i = 0; i < files.length; ++i) {
                    var name = files.item(i).name;
                    selectedFiles += name +" | ";

                }
                $('#PatientFirstApointmentFileUploadedFiles').text(selectedFiles);
            });

            $('.addPasportFile').on('click', function() {
                $('#PatientPasportFile').click();
                return false;
            });
            $("#PatientPasportFile").change(function(){
                var files =$(this)[0].files;
                var selectedFiles="";
                for (var i = 0; i < files.length; ++i) {
                    var name = files.item(i).name;
                    selectedFiles += name +" | ";

                }
                $('#PatientPasportFileUploadedFiles').text(selectedFiles);
            });

            // patient extension
            $('.addExtensionFile').on('click', function() {
                $('#PatientExtesionFile').click();
                return false;
            });
            $("#PatientExtesionFile").change(function(){
                var files =$(this)[0].files;
                var selectedFiles="";
                for (var i = 0; i < files.length; ++i) {
                    var name = files.item(i).name;
                    selectedFiles += name +" | ";

                }
                $('#PatientExtensionFileUploadedFiles').text(selectedFiles);
            });
            // end patient extension
            //
            $(".loader").css("display", "none");
        });
    </script>

}
