@using Kwt.PatientsMgtApp.WebUI.Models
@model RegisterViewModel
@{ ViewBag.Title = "Create User";}

@using (Html.BeginForm("Create", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <fieldset>
            <legend>Create New User</legend>
            <ul class="fieldlist">

                <li>
                    @Html.LabelFor(model => model.Email, new { @class = "" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "k-textbox", style = "width: 100%;" })
                    <div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "k-error-colored" })
                    </div>

                </li>
                <li>
                    @Html.LabelFor(model => model.Password, new {@class = ""})
                    @Html.TextBoxFor(model => model.Password, new {@class = "k-textbox", style = "width: 100%;", type="Password"})
                    <div>
                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "k-error-colored"})
                    </div>

                </li>
                <li>
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "" })
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "k-textbox", style = "width: 100%;", type = "Password" })
                    <div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "k-error-colored" })
                    </div>
                </li>
            </ul>
        </fieldset>
        <div class="mt-3">
            <p>
                <a href="@Url.Action("Index")" class="k-button"><i class="fa fa-arrow-left" style="color: lightblue"></i> Back to List</a>
                <button type="submit" class="k-button"><i class="fa fa-save" style="color: blueviolet"></i> Add</button>
            </p>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}