@using Kwt.PatientsMgtApp.WebUI.Models
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "User List";
}

<div class="pt-3 pb-3">
    <a href="@Url.Action("Create", "Admin")" class="k-button"><i class="fa fa-plus" style="color: yellowgreen"></i> New User</a>
    <a href="@Url.Action("List", "Admin")" class="k-button"><i class="fa fa-hand-o-left" style="color: lightblue"></i> Back To Admin</a>
</div>
<div class="loader"></div>
@if (Model.Any())
{
    <div id="content" style="visibility: hidden;">
        <table id="doctorsList">
            <colgroup>
                <col />
                <col />
                <col />
                <col />
            </colgroup>
            <thead>
                <tr>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>*@
                    <th>
                        User Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>Is Locked Out</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>*@
                        <td>
                            @Html.ActionLink(item.UserName.ToString(), "Edit", new { id = item.Id })
                            @*@Html.ActionLink(item.UserName.ToString(), "Edit", "Admin", new {id = item.Id})*@
                            @*@Html.DisplayFor(modelItem => item.UserName)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @if (item.LockoutEnabled && item.LockoutEndDateUtc != null)
                            {
                                <text>Yes</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@section Scripts {


    <script type="text/javascript">

        $('document').ready(function () {
            $("#content").css("visibility", "visible");

            $("#doctorsList").kendoGrid({
                height: 550,
                sortable: true,
                pageable: {
                    pageSize: 15,
                    alwaysVisible: false
                }
            });
            //kendo.ui.progress($("#patientList"), false);
            $(".loader").css("display", "none");
        });
    </script>
}
