@model List<Kwt.PatientsMgtApp.Core.Models.CompanionModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Companions List";

}
<div class="pt-3 pb-3">
    <a href="@Url.Action("Create", "Companion")" class="k-button"><i class="fa fa-plus" style="color:yellowgreen"></i> New Companion</a>
</div>

<div id="companion-data" class="pb-5 pt-5">
    @if (Model.Any())
    {
        <div class="pb-3">
            @{ Html.RenderPartial("_CompanionSearchForm"); }
        </div>
        <div class="loader"></div>

        <div id="content" style="visibility: hidden;">
            <div id="companionsList"></div>
        </div>
                }
                else
                {
                    <div class="text-info">
                        There is No Companions in our records
                        @if (Request.QueryString["searchCompanionText"] != null)
                        {
                            <span> that contains :&nbsp;<b> @Request.QueryString["searchCompanionText"]</b></span>
                            <br />@Html.ActionLink("back to list", "List", "Companion", new { @class = "k-button" });
                        }
                    </div>
                }
</div>

@section DeleteConfirm{

    @{ Html.RenderPartial("_DeleteConfirmationModel"); }

}

@section Scripts {

    @{ Html.RenderPartial("_DeleteConfirmationjs"); }
    <script type="text/javascript">
        $("#clear").click(function (e) {
            $("#searchCompanion").val("");
            $("#clearSearch").val(true);
            
        });
    </script>
    <script type="text/javascript">
        var companions = @Html.Raw(Json.Encode(Model));
        var isAdmin =   @Html.Raw(Json.Encode(User.IsInRole("Admin, Manager, Super Admin")));
        function getTemplate(companionCid) {
             if (isAdmin) {
            return '<a href="javascript:confirmDelete('+companionCid+','+'\'companionCid\''+')" id='+companionCid+'> <i class="fa fa-times fa-2x" style="color: lightcoral"></i></a>';
            }
        }
        $('document').ready(function () {
            $("#content").css("visibility", "visible");

            $("#companionsList").kendoGrid({
                toolbar: "<p class='alert alert-info'>This is the list of all Companion we have in our records, active and non active</p>",
                height: 750,
                groupable: true,
                sortable: true,
                pageable: {
                    pageSize: 11,
                    alwaysVisible: false
                },
                columns:[
                    {
                        field: "CompanionCID",
                        title: "CID",
                        template: "<a href='@Url.Action("Details", "Companion")?CompanionCID=#= CompanionCID#'>#= CompanionCID #</a>"
                    },
                {
                    field: "Name",
                    title: "Name"
                },
                {
                    field: "CompanionType",
                    title: "Type"
                },
                {
                    field: "DateInFormatted",
                    title: "Date In"
                },
                {
                    field: "DateOutFormatted",
                    title: "Date Out"
                },
                {
                    field: "IsActive",
                    title: "Status",
                    template: "#if(IsActive==true){#<i class='badge badge-success'>Active</i>#}" +
                           "else{#<i class='badge badge-info'>Not Active</i>#}#"
                },
               {
                   field: "CompanionCID",
                   title: "Delete",
                   template: getTemplate('#=CompanionCID#'),
                   hidden: !isAdmin
               }],
                dataSource: {
                    data: companions
                }
            });
            $(".loader").css("display", "none");
        });
    </script>
}
