@using Kwt.PatientsMgtApp.WebUI.Infrastructure
@model List<Kwt.PatientsMgtApp.Core.Models.CompanionModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Companions List";

}
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
}
<div class="pt-3 pb-3">
@if (User.IsInAnyRoles(CrudRoles.CompanionCreateRoles))
{
    <a href="@Url.Action("Create", "Companion")" class="k-button"><i class="fa fa-plus" style="color:yellowgreen"></i> New Companion</a>
}
</div>

<div id="companion-data" class="pb-5 pt-5">
    @if (Model.Any())
    {
        <div class="pb-3">
            @{ Html.RenderPartial("_CompanionSearchForm"); }
        </div>
        <div class="loader"></div>

        <div id="content" style="visibility: hidden;">
            <div id="companionsList"></div>
        </div>
                }
                else
                {
                    <div class="text-info">
                        There is No Companions in our records
                        @if (Request.QueryString["searchCompanionText"] != null)
                        {
                            <span> that contains :&nbsp;<b> @Request.QueryString["searchCompanionText"]</b></span>
                            <br />@Html.ActionLink("back to list", "List", "Companion", new { @class = "k-button" });
                        }
                    </div>
                }
</div>

@section DeleteConfirm{

    @{ Html.RenderPartial("_DeleteConfirmationModel"); }

}

@section Scripts {

    @{ Html.RenderPartial("_DeleteConfirmationjs"); }
    <script type="text/javascript">
        $("#clear").click(function (e) {
            $("#searchCompanion").val("");
            $("#clearSearch").val(true);

        });
    </script>
    <script type="text/javascript">
        var companions = @Html.Raw(jsonModel);
        console.log("companions",companions);
        var isAdmin =   @Html.Raw(Json.Encode(User.IsInAnyRoles(new [] { "Admin", "Manager", "Super Admin" })));
        
        function getTemplate(id) {
            
            if (isAdmin) {
                return '<a href="javascript:confirmDelete('+id+','+'\'id\''+')" id='+id+'> <i class="fa fa-times fa-2x" style="color: lightcoral"></i></a>';
            }
            
        }
        $('document').ready(function () {
            $("#content").css("visibility", "visible");

            $("#companionsList").kendoGrid({
                toolbar: "<p class='alert alert-info'>This is the list of all Companion we have in our records, active and non active</p>",
                height: 750,
                groupable: true,
                sortable: true,
                resizable: true,
                pageable: {
                    pageSize: 11,
                    alwaysVisible: false
                },
                columns:[
                    {
                        field: "CompanionCID",
                        title: "Companion CID",
                        template: "<a href='@Url.Action("Details", "Companion")?CompanionCID=#= CompanionCID#&patientCid=#=PatientCID#'>#= CompanionCID #</a>"
                    },
                    {
                        field: "PatientCID",
                        title: "Patient CID"
                    },
                {
                    field: "Name",
                    title: "Name"
                },
                {
                    field: "CompanionType",
                    title: "Type"
                },
                {
                    field: "DateInFormatted",
                    title: "Date In"
                },
                {
                    field: "DateOutFormatted",
                    title: "Date Out"
                },
                {
                    field: "IsActive",
                    title: "Status",
                    template: "#if(IsActive==true){#<i class='badge badge-success'>Active</i>#}" +
                           "else{#<i class='badge badge-info'>Not Active</i>#}#"
                },
                {
                    field: "JustBeneficiary",
                    title: "Just Beneficiary?",
                    template: "#if(JustBeneficiary==true){#<i class='badge badge-info'>Yes</i>#}" +
                           "else{#<i class='badge badge-success'>No</i>#}#"
                },
               {
                   field: "Id",
                   title: "X",
                   template: getTemplate('#= Id #'),
                   hidden: !isAdmin,
                   width:"50px"
               }],
                dataSource: {
                    data: companions
                }
            });
            $(".loader").css("display", "none");
        });
    </script>
}
