@*@using PagedList.Mvc;
    @model PagedList.IPagedList<Kwt.PatientsMgtApp.Core.Models.CompanionModel>*@
@using Kwt.PatientsMgtApp.WebUI.Infrastructure
@model List<Kwt.PatientsMgtApp.Core.Models.CompanionModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Companions List";

}
<div class="pt-3 pb-3">
    <a href="@Url.Action("Create", "Companion")" class="k-button"><i class="fa fa-plus" style="color:yellowgreen"></i> New Companion</a>
</div>
@*<p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-lg btn-info" })
    </p>*@

<div id="companion-data" class="pb-5 pt-5">
    @if (Model.Any())
    {
        <div class="pb-3">
            @{ Html.RenderPartial("_CompanionSearchForm"); }
        </div>
        <div class="loader"></div>
        <div id="content" style="visibility:hidden;">
            <table id="companionList">
                <colgroup>
                    <col />@*cid*@
                    <col />@*Name*@
                    <col />@*type*@
                    <col style="width: 130px" />@*date in*@
                    <col style="width: 130px" />@*date out*@
                    <col style="width: 130px" />@*status*@
                    <col style="width: 100px" />


                </colgroup>
                <thead>
                    <tr>
                        <th>Civil ID</th>
                        <th>Full Name</th>
                        <th>Companion Type</th>
                        <th>Date In</th>
                        <th>Date Out</th>
                        <th>Status</th>
                        @if (User.IsInAnyRoles("Admin", "Manager", "Auditor"))
                        {
                            <th>Delete</th>
                        }

                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.ActionLink(item.CompanionCID.ToString(), "Details", new { companionCid = item.CompanionCID })
                            </td>

                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.CompanionType
                            </td>
                            <td>
                                @item.DateInFormatted
                            </td>

                            <td>
                                @item.DateOutFormatted
                            </td>


                            <td>
                                @if (item.IsActive == true)
                                {
                                    <label class="badge badge-success">Yes</label>
                                }
                                else
                                {
                                    <label class="badge badge-info">No</label>
                                }
                            </td>
                            @if (User.IsInAnyRoles("Admin", "Manager", "Auditor"))
                            {
                                <td>
                                    <a href="javascript:confirmDelete('@item.CompanionCID','companionCid')"><i class="fa fa-times fa-2x" style="color: lightcoral"></i></a>
                                </td>
                            }

                        </tr>

                    }
                </tbody>
            </table>
            @*<span>Page</span>
                @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                <span>of</span>
                @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("List", new { page }))*@
        </div>
                }
                else
                {
                    <div class="text-info">
                        There is No Companions in our records
                        @if (Request.QueryString["searchCompanionText"] != null)
                        {
                            <span> that contains :&nbsp;<b> @Request.QueryString["searchCompanionText"]</b></span>
                            <br />@Html.ActionLink("back to list", "List", "Companion", new { @class = "k-button" });
                        }
                    </div>
                }
</div>

@section DeleteConfirm{

    @{ Html.RenderPartial("_DeleteConfirmationModel"); }

}

@section Scripts {

    @{ Html.RenderPartial("_DeleteConfirmationjs"); }
    <script type="text/javascript">
        $("#clear").click(function (e) {
            $("#searchCompanion").val("");
            $("#clearSearch").val(true);
            //e.preventDefault();
        });
    </script>
    <script type="text/javascript">

        $('document').ready(function () {
            $("#content").css("visibility", "visible");

            $("#companionList").kendoGrid({
                toolbar: "<p>This is the list of all companions we have in our records Active and non Active.</p>",
                height: 550,
                groupable: true,
                sortable: true,
               // filterable: {
                   // extra: false,
                  //  mode: "menu, row"
                //},
                resizable: true,
                pageable: {
                    pageSize: 5,
                    alwaysVisible: false
                }
                //dataBound: function (e) {
                //    setTimeout(function () { kendo.ui.progress($("#content"), false); });
                //}

            });
            //kendo.ui.progress($("#patientList"), false);
            $(".loader").css("display", "none");
        });
    </script>
}
