@using PagedList.Mvc;
@model PagedList.IPagedList<Kwt.PatientsMgtApp.Core.Models.CompanionModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Companions List";

}

<h2>Companions</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-lg btn-info" })
</p>

<div id="people-data">
    @if (Model.Any())
    {
        <div class="p-3">
            @{ Html.RenderPartial("_CompanionSearchForm"); }
        </div>
        <table class="table text-center table-bordered table-striped">
            <tr>
                <th>@Html.ActionLink("Civil ID", "List", new { sortOrder = ViewBag.CidSortParm, currentFilter = ViewBag.CurrentFilter })

                </th>

                <th>@Html.ActionLink("Full Name", "List", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>Companion Type</th>
                <th>Date In</th>
                <th>Date Out</th>
                <th>Active Status</th>
                <th>Notes</th>

               
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.CompanionCID.ToString(), "Details", new { companionCid = item.CompanionCID })
                    </td>

                    <td> @(item.CompanionFName + " " + item.CompanionMName + " " + item.CompanionLName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateIn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateOut)
                    </td>
                    
                   
                    <td>
                        @if (item.IsActive == true)
                        {
                            <label class="badge badge-success">Yes</label>
                        }
                        else
                        {
                            <label class="badge badge-info">No</label>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>

                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                        <a href="javascript:confirmDelete(@item.PatientCID,'companionCid')" class="btn btn-info">Delete</a>
                    </td>
                </tr>

            }

        </table>
        <span>Page</span>
        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                <span>of</span>
                @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("List", new { page }));

                }
                else
                {
                    <div class="text-info">
                        There is No Companions in our records
                        @if (Request.QueryString["searchPatientText"] != null)
                        {
                            <span> that contains :&nbsp;<b> @Request.QueryString["searchPatientText"]</b></span>
                            <br />@Html.ActionLink("Go back to list", "List", "Companion", new {@class="btn btn-lg btn-info"});
                        }
                    </div>
                }
</div>

@section DeleteConfirm{

    @{ Html.RenderPartial("_DeleteConfirmationModel"); }

}

@section Scripts {

    @{ Html.RenderPartial("_DeleteConfirmationjs"); }
    <script type="text/javascript">
        $("#clear").click(function (e) {
            console.log("Clear serch");
            $("#searchPatient").val("");
            $("#clearSearch").val(true);
            //e.preventDefault();
        });
    </script>
}
