@using Kwt.PatientsMgtApp.WebUI.Infrastructure
@using Kwt.PatientsMgtApp.WebUI.Models


@{

    if (ViewBag.MenuItems != null)
    {
        Session["MenuItems"] = (TopMenu)ViewBag.MenuItems;
    }
    else
    {
        ViewBag.MenuItems = Session["MenuItems"];
    }
    var menu = (TopMenu)ViewBag.MenuItems ?? new TopMenu();
}
<header>
    <div class="row logoSearch">

        <div class="left">


            <a href="@Url.Action("Index", "Home")" style="text-decoration: none;" class="m-3">
                <img src="~/Content/Images/Kuwait_embassyLogo.png" class="k-thumb" />
            </a>
            <span class="text-uppercase">Kuwait Embassy Health Office</span>
        </div>
        <div class="right">
            @using (Html.BeginForm("Search", "Patient", FormMethod.Get))
            {
                TempData["controller"] = Html.Controller();
                TempData["action"] = Html.Action();

                @*<div class="k-content">
                        <span class="k-textbox k-space-right" style="width: 100%;">
                            <input id="patientCids" type="text" name="patientCid" class="k-textbox" placeholder="Search a Patient..." style="width: 100%;" />
                            <button type="submit" class="k-icon k-i-search">&nbsp;</button>
                        </span>
                    </div>*@
                <div class="k-content">
                    <button type="submit" style="position: absolute;
                             width: 12%; height: 100%;
                             right: 0px; top: 0px;
                             z-index: 1; background: #00965E; cursor: pointer;
                             border: none;padding: 0;">
                        <i class="fa fa-search"></i>
                    </button>
                    <input id="patientCids" type="text" name="patientCid" class="k-textbox" placeholder="Search a Patient..." style="width: 100%;" />
                    
                </div>
                
            }
            
        </div>
        <div id="cal_display" class="left">
            <span id="cal_m"></span><span id="cal_y"></span><span id="cal_d"></span><span id="cal_w"></span>
        </div>
    </div>
    <div id="header-menu" class="row">
        <div class="col-md-12">
            <span class="loginLogout">
                @Html.Partial("_LoginPartial")
            </span>
            <ul id="topMenu" data-role="menu" class="h-menu k-menu k-menu-horizontal" tabindex="0" role="menubar">
                @if (menu.MenuItem != null)
                {
                    foreach (var item in menu.MenuItem)
                    {
                        if (item.MenuId < 3)
                        {
                            //new
                            if (item.MenuId == 2)
                            {
                                @Html.ListItemAction(item.MenuName, item.ActionName, item.ControllerName, item.IconName, item.Color, item.SubMenu)
                            }
                            else
                            {
                                @Html.ListItemAction(item.MenuName, item.ActionName, item.ControllerName, item.IconName, item.Color)
                            }
                            //end new
                            // @Html.ListItemAction(item.MenuName, item.ActionName, item.ControllerName, item.IconName, item.Color)

                        }

                        else
                        {
                            //
                            if (item.MenuId < 6)
                            {
                                if (User.IsInAnyRoles(CrudRoles.MainMenuAccess))
                                {
                                    if (item.MenuId == 2)//patient
                                    {
                                        @Html.ListItemAction(item.MenuName, item.ActionName, item.ControllerName, item.IconName, item.Color, item.SubMenu)
                                    }
                                    else
                                    {
                                        if (item.MenuId == 4)// payment
                                        {
                                            if (User.IsInAnyRoles(CrudRoles.PaymentCrudRoles))
                                            {
                                                @Html.ListItemAction(item.MenuName, item.ActionName, item.ControllerName, item.IconName, item.Color, item.SubMenu)
                                            }
                                        }
                                        else
                                        {

                                            @Html.ListItemAction(item.MenuName, item.ActionName, item.ControllerName, item.IconName, item.Color)
                                        }

                                    }
                                    //@Html.ListItemAction(item.MenuName, item.ActionName, item.ControllerName, item.IconName, item.Color)
                                }
                            }
                            else
                            {
                                if (User.IsInAnyRoles(CrudRoles.MainMenuAdminAccess))
                                {
                                    @Html.ListItemAction(item.MenuName, item.ActionName, item.ControllerName, item.IconName, item.Color)
                                }
                            }
                            //

                        }
                    }
                }
            </ul>
        </div>
    </div>
</header>

@if (TempData["searchedPatient"] != null)
{
    Html.RenderPartial("_PatientDetailsSearched", (object)Model);
}

