@using Kwt.PatientsMgtApp.WebUI.Models
@model LoginViewModel


@{
    ViewBag.Title = "Log in";
}
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="login is-Responsive">
    <div class="login-triangle"></div>

    <h2 class="login-header">Kuwait Embassy Health Office
        <span class="fa-stack fa-2x hidden-xs">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x" style="color: black"></i>
        </span>
    </h2>
    
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "login" }))
            {
        @Html.AntiForgeryToken()

        @*<p>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</p>*@
       
            <p class="form-group input-group">
                <span class="input-group-addon" style="position: relative;top: 45px;right: -340px;z-index: 10;color: black;"><i class="fa fa-user fa-2x"></i></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus", required = "required", placeholder = "Email" })

            </p>
        
            <p style="color: white">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</p>


            @*<p> @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</p>*@
                <p>
                    <span class="input-group-addon"style="position: relative;top: 45px;right: -340px;z-index: 10;color: black;"><i class="fa fa-lock fa-2x"></i></span>
                     @Html.PasswordFor(m => m.Password, new {@class = "form-control", required = "required", placeholder = "Password"})
                </p>
            <p style="color: white"> @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</p>
            <p> @Html.LabelFor(m => m.RememberMe) @Html.CheckBoxFor(m => m.RememberMe)</p>
            <p>
                <input type="submit" value="Log in" class="btn btn-default" />
            </p>
    }
</div>
@*<div id="modal-overlay" style="display: block;"></div>*@

@*@Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>*@
@*<p>
        @Html.ActionLink("Register as a new user", "Register")
    </p>*@
@* Enable this once you have account confirmation enabled for password reset functionality
    <p>
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </p>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}